<!-- WMDE compiled banner, see https://github.com/wmde/fundraising-banners -->
{{#with campaignConfig }}
    <div id="WMDE-Banner-Container"
         data-trackingparams="piwik_campaign={{campaign_tracking}}&amp;piwik_kwd={{tracking}}"
         data-campaign-tracking="{{campaign_tracking}}"
         data-tracking="{{tracking}}"
    ></div>
{{/with}}
<script>{{{ banner }}}</script>
