<p class="text__headline text__headline--italic">
	Dear readers:
</p>

<p class="text__paragraph">
	I hope we’re not disturbing you, but it is that time of year when we ask for your support. {{ campaignDaySentence }}
	Wikipedia is written by volunteers and sustained by donations averaging about €20. Now we are asking you in Germany to
	help out.
	<span class="text__highlight">
		If everyone currently reading this were to contribute a small amount, our fundraising campaign would be over in an hour.
	</span>

	That's right, the price of a cup of coffee is all we need. It’s easy to ignore this message; most people do. Our
	fundraising appeal is displayed over {{ amountBannerImpressionsInMillion }} million times a day, but currently only
	{{ numberOfDonors }} people have donated. So if you find Wikipedia useful, please take a minute out of your day
	{{ weekdayPrepPhrase }} {{ customDayName }} to donate and give something back to Wikipedia.
	<span class="text__paragraph--italic">
		Thank you!
	</span>
	<span class="text__hidden-placeholder">
		about how useful it is to have unlimited access to reliable, neutral information. Please help keep Wikipedia online
		and growing. Thank you!
	</span>
</p>
