<p>
	<i>
		<strong>
			Liebe Leserinnen und Leser:
		</strong>
	</i>
</p>

<p>
	Verzeihen Sie die Störung.
	<span>{{ campaignDaySentence }}</span>
	Einmal im Jahr bitten wir Sie um Ihre Unterstützung. Wikipedia wird geschrieben von Freiwilligen und finanziert durch 
	Spenden von durchschnittlich 20 €. Jetzt sind Sie in Deutschland gefragt.
	<span id="to-highlight">
		Wenn alle, die das jetzt lesen, einen kleinen Beitrag leisten, ist unsere Spendenkampagne in einer Stunde vorüber.
	</span>
	Schon der Preis einer Tasse Kaffee würde genügen. Über
	<span>{{ amountBannerImpressionsInMillion }}</span>
	Millionen Mal wird unser Spendenaufruf täglich angezeigt, aber nur
	<span>{{ numberOfDonors }}</span>
	haben bisher gespendet. Wenn Sie Wikipedia nützlich finden, nehmen Sie sich
	<span>{{ weekdayPrepPhrase }}</span>
	<span>{{ customDayName }}</span>
	bitte eine Minute Zeit und geben Wikipedia mit Ihrer Spende etwas zurück.
	<i>Vielen Dank!</i>
</p>
