<p class="infobox__greeting">
	Liebe Leserinnen und Leser:
</p>

<p>
	Verzeihen Sie die Störung. Einmal im Jahr sind Sie in Deutschland gefragt. {{ campaignDaySentence }}
	Wikipedia wird von Freiwilligen geschrieben und durch Spenden von durchschnittlich 20 € finanziert.
	<span id="to-highlight">
		Wenn alle, die das jetzt lesen, einen kleinen Beitrag leisten, ist unsere Spendenkampagne in einer Stunde vorüber.
	</span>
	Schon der Preis einer Tasse Kaffee würde genügen. Es ist leicht, diese Nachricht zu ignorieren und die meisten werden
	das wohl tun. Über {{ amountBannerImpressionsInMillion }} Millionen Mal wird unser Spendenaufruf täglich angezeigt,
	aber nur {{ numberOfDonors }} Menschen haben bisher gespendet. Wenn Sie Wikipedia nützlich finden, nehmen Sie sich
	<span>{{ weekdayPrepPhrase }}</span>
	<span>{{ customDayName }}</span>
	bitte eine Minute Zeit und geben Wikipedia mit Ihrer Spende etwas zurück.
	<span class="infobox__text--italic">Vielen Dank!</span>
</p>
