<div id="frbanner" style="display: none;"><!-- the "full screen" banner -->

	<div id="frbanner-mask"></div>

	<div id="frbanner-window">

		<div id="frbanner-close"></div>

		<div id="modal-signup" class="cf">

			<div class="infobox">
                <div class="infobox__text">
                    {{> banner_text }}
                </div>

                {{{ progressBar }}}

                <div class="call-to-action">
                    Jetzt sind Sie <span class="call-to-action__optional-text">in Deutschland</span> gefragt.
                </div>
			</div>


			<form id="frbanner-form" class="form" method="post" name="donationForm" action="https://spenden.wikimedia.de/donation/new?mbt=1&piwik_campaign={{ CampaignName }}&piwik_kwd={{ BannerName }}">
				<input type="hidden" name="periode" value="0">
				<input type="hidden" id="address_type" name="addressType" value="person">
				<input type="hidden" name="intervalType" id="intervalType" value="0" />

				<input type="hidden" id="impCount" name="impCount" value="" />
				<input type="hidden" id="bImpCount" name="bImpCount" value="" />
				<input type="hidden" id="tracking" name="tracking" value="{{ CampaignName }}/{{ BannerName }}">

				<input type="hidden" id="zahlweise" name="zahlweise" value="" />
				<input type="hidden" id="betrag" name="betrag" value="" />


				<fieldset class="form__section cf">


					<legend class="form__section-head">Betrag wählen</legend>

                    <ol class="select-group select-group--tablet-3cols" >

                        <li class="select-group__option" id="amount_total_1">
                            <input class="select-group__input" name="betrag_auswahl" type="radio" id="amount1" value="5" />
                            <label class="select-group__label" id="amount_label_1" for="amount1">5 €</label>
                        </li>

                        <li class="select-group__option" id="amount_total_2">
                            <input class="select-group__input" name="betrag_auswahl" type="radio" id="amount2" value="15" />
                            <label class="select-group__label" id="amount_label_2" for="amount2">15 €</label>
                        </li>

                        <li class="select-group__option" id="amount_total_3">
                            <input class="select-group__input" name="betrag_auswahl" type="radio" id="amount3" value="25" />
                            <label class="select-group__label" id="amount_label_3" for="amount3">25 €</label>
                        </li>

                        <li class="select-group__option" id="amount_total_4">
                            <input class="select-group__input" name="betrag_auswahl" type="radio" id="amount4" value="50" />
                            <label class="select-group__label" id="amount_label_4" for="amount4">50 €</label>
                        </li>

                        <li class="select-group__option" id="amount_total_5">
                            <input class="select-group__input" name="betrag_auswahl" type="radio" id="amount5" value="75" />
                            <label class="select-group__label" id="amount_label_5" for="amount5">75 €</label>
                        </li>

                        <li class="select-group__option" id="amount_total_6">
                            <input class="select-group__input" name="betrag_auswahl" type="radio" id="amount6" value="100" />
                            <label class="select-group__label" id="amount_label_6" for="amount6">100 €</label>
                        </li>

                    </ol>

				</fieldset>

				<fieldset class="form__section cf">
                    
                    <legend class="form__section-head">Zahlweise wählen</legend>
                
                    <ol class="button-group button-group--tablet-2cols">
    
                        <li class="button-group__container">
                            <button class="button-group__button" data-payment-type="PPL">
                                PayPal
                            </button>
                        </li>
    
                        <li class="button-group__container">
                            <button class="button-group__button" data-payment-type="MCP">
                                Kreditkarte
                            </button>
                        </li>
    
                        <li class="button-group__container">
                            <button class="button-group__button" data-payment-type="UEB">
                                Überweisung
                            </button>
                        </li>
    
                        <li class="button-group__container">
                            <button class="button-group__button" data-payment-type="BEZ">
                                Lastschrift
                            </button>
                        </li>

                        <li class="button-group__container">
                            <button class="button-group__button" data-payment-type="SUB">
                                Sofort-Überweisung
                            </button>
                        </li>

                        <li class="button-group__container">
                            <a href="sms:81190" class="button-group__button a-sms">5€ per SMS</a>
                        </li>

                        <li class="button-group__hint">
                            SMS mit "WIKI" an die 81190. Kosten zzgl. einer Standard-SMS.
                        </li>
    
                    </ol>
                </fieldset>

			</form>

			<div class="smallprint" id="frbanner-smallprint">
				<div class="smallprint--left"><a href="https://spenden.wikimedia.de/spenden/Impressum?piwik_campaign={{ CampaignName }}&piwik_kwd={{ BannerName }}-link&skin=10h16">Impressum</a> | <a href="https://spenden.wikimedia.de/spenden/Datenschutz?piwik_campaign={{ CampaignName }}&piwik_kwd={{ BannerName }}-link&skin=10h16">Datenschutz</a></div>
				<div class="smallprint--right">
					<a href="https://spenden.wikimedia.de/page/Transparenz">Wohin geht meine Spende?</a>
				</div>
			</div>
			<img class="banner-tracking" src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif" border="0" height="0" width="0" />

		</div><!--modal-signup-->

	</div><!--frbanner-window-->

</div><!--frbanner-->

{{> mini_banner }}
