<div class="mini-banner" style="top: -10000px;">
	<div class="mini-banner-box">
		<div class="mini-banner-content">
			<div class="banner-headline">
				<div>
					<span>Die Wikimedia-Spendenkampagne</span>
				</div>
			</div>
			<div id="mini-banner-close-button" class="banner-close-button"></div>
			<div class="mini-banner-carousel">
				<div class="carousel-cell">
					<p>Liebe Leserinnen und Leser, an diesem {{ currentDayName }} sind Sie in Deutschland gefragt:</p>
				</div>
				<div class="carousel-cell">
					<p>Über {{ amountBannerImpressionsInMillion }} Millionen Mal wird unser Spendenaufruf täglich angezeigt, aber nur {{ numberOfDonors }} Menschen haben bisher gespendet. Schon der Preis einer Tasse Kaffee würde genügen.</p>
				</div>
				<div class="carousel-cell">
					<p class="goal-headline">Unser Spendenziel: 8,1&nbsp;Millionen&nbsp;Euro</p>
					{{{ progressBar }}}
				</div>
				<div class="carousel-cell">
					<p>Wenn alle, die das jetzt lesen, einen kleinen Beitrag leisten, wäre unser Spendenziel bereits am heutigen {{ currentDayName }} erreicht.</p>
				</div>
				<div class="carousel-cell">
					<p>Es ist leicht, diese Nachricht zu ignorieren und die meisten werden das wohl tun.</p>
				</div>
				<div class="carousel-cell">
					<p>Wenn Sie Wikipedia nützlich finden, nehmen Sie sich an diesem {{ currentDayName }} bitte eine Minute Zeit und geben Wikipedia mit Ihrer Spende etwas zurück.</p>
				</div>
			</div>
			<div class="mini-banner-tab">
				<div class="mini-banner-tab-inner">
					Jetzt spenden
				</div>
			</div>
		</div>
	</div>
</div>