<div id="WMDE_Banner">
    <div class="banner">
        <div class="banner__content">
            <div class="infobox">
                <div class="infobox__text">
                    {{{ bannerText }}}
                </div>
            </div>

            <div class="form">
                <div class="form__header">
                    <p>Ja, ich spende...</p>

                    <div class="banner__footer">
                        <div class="footer">
                            <div class="footer__item">
                                <span>Spendenkonto Wikimedia Foerdergesellschaft</span>
                            </div>
                            <div class="footer__item">
                                <span>BIC</span>
                                <span class="footer__importantinfo">BFSWDE33BER</span>
                            </div>
                            <div class="footer__item">
                                <span>IBAN</span>
                                <span class="footer__importantinfo">DE33&nbsp;1002&nbsp;0500&nbsp;0001&nbsp;1947&nbsp;00</span>
                            </div>
                        </div>
                    </div>
                </div>

                <form id="WMDE_Banner-form" method="post" name="donationForm"
                      action="https://spenden.wikimedia.de/donation/new?piwik_campaign={{ CampaignName }}&piwik_kwd={{ BannerName }}">

                    <div class="form-field-group">
                        <div class="select-group-container">
                            <div id="WMDE_Banner-frequency" class="WMDE-Banner-frequency select-group">
                                <label class="select-group__option select-group__option--thirdwidth">
                                    <input type="radio" id="interval_onetime" name="interval" value="0"
                                           class="select-group__input">
                                    <span class="select-group__state">einmalig</span>
                                </label>
                                <label class="select-group__option select-group__option--thirdwidth  donation-frequency-monthly">
                                    <input type="radio" id="interval1" name="interval" value="1"
                                           class="select-group__input">
                                    <span class="select-group__state">monatlich</span>
                                </label>
                                <label class="select-group__option select-group__option--thirdwidth donation-frequency-yearly">
                                    <input type="radio" id="interval12" name="interval" value="12"
                                           class="select-group__input">
                                    <span class="select-group__state">jährlich</span>
                                </label>
                            </div>
                            <span id="WMDE_Banner-frequency-error-text"
                                  class="select-group__errormessage">{{ no-interval-message }}</span>
                        </div>

                        <div class="select-group-container">
                            <div id="WMDE_Banner-amounts" class="WMDE-Banner-amounts select-group">
                                <label id="amount_label_1"
                                       class="select-group__option select-group__option--quarterwidth">
                                    <input type="radio" name="betrag_auswahl" id="field-amount_total_1"
                                           class="select-group__input" value="5">
                                    <span class="select-group__state">5 €</span>
                                </label>

                                <label id="amount_label_2"
                                       class="select-group__option select-group__option--quarterwidth">
                                    <input type="radio" name="betrag_auswahl" id="field-amount_total_2"
                                           class="select-group__input" value="15">
                                    <span class="select-group__state">15 €</span>
                                </label>

                                <label id="amount_label_3"
                                       class="select-group__option select-group__option--quarterwidth">
                                    <input type="radio" name="betrag_auswahl" id="field-amount_total_3"
                                           class="select-group__input" value="25">
                                    <span class="select-group__state">25 €</span>
                                </label>

                                <label id="amount_label_4"
                                       class="select-group__option select-group__option--quarterwidth">
                                    <input type="radio" name="betrag_auswahl" id="field-amount_total_4"
                                           class="select-group__input" value="50">
                                    <span class="select-group__state">50 €</span>
                                </label>

                                <label id="amount_label_5"
                                       class="select-group__option select-group__option--quarterwidth">
                                    <input type="radio" name="betrag_auswahl" id="field-amount_total_5"
                                           class="select-group__input" value="75">
                                    <span class="select-group__state">75 €</span>
                                </label>

                                <label id="amount_label_6"
                                       class="select-group__option select-group__option--quarterwidth">
                                    <input type="radio" name="betrag_auswahl" id="field-amount_total_6"
                                           class="select-group__input" value="100">
                                    <span class="select-group__state">100 €</span>
                                </label>

                                <label class="select-group__option select-group__option--halfwidth select-group__option-amount-other-input">
                                    <input type="text" name="amountGiven" id="amount-other-input" size="3"
                                           autocomplete="off" value="" placeholder="Wunschbetrag"
                                           class="select-group__custom-input">
                                </label>
                            </div>
                            <span id="WMDE_Banner-amounts-error-text"
                                  class="select-group__errormessage">{{ amount-empty-message }}</span>
                        </div>
                    </div>

                    <div class="form-field-group">
                        <div class="select-group-container">
                            <div id="WMDE_Banner-payment-type" class="WMDE-Banner-payment select-group">
                                <label class="select-group__option select-group__option--halfwidth">
                                    <input type="radio" name="zahlweise" value="BEZ" class="select-group__input">
                                    <span class="select-group__state">Lastschrift</span>
                                </label>

                                <label class="select-group__option select-group__option--halfwidth">
                                    <input type="radio" name="zahlweise" value="UEB" class="select-group__input">
                                    <span class="select-group__state">Überweisung</span>
                                </label>

                                <label class="select-group__option select-group__option--halfwidth">
                                    <input type="radio" name="zahlweise" value="MCP" class="select-group__input">
                                    <span class="select-group__state">Kreditkarte</span>
                                </label>

                                <label class="select-group__option select-group__option--halfwidth">
                                    <input type="radio" name="zahlweise" value="PPL" class="select-group__input">
                                    <span class="select-group__state">PayPal</span>
                                </label>
                            </div>
                            <span id="WMDE_Banner-payment-type-error-text"
                                  class="select-group__errormessage">{{ no-payment-type-message }}</span>
                        </div>

                        <div id="WMDE_Banner-submit" class="WMDE-Banner-submit button-group">
                            <button class="button-group__button">
                                <span class="button-group__label">Weiter, um Spende abzuschließen</span>
                            </button>
                        </div>
                    </div>

                    <input type="hidden" id="periode" name="periode" value="0"/>
                    <input type="hidden" id="intervalType" name="intervalType" value="0"/>
                    <input type="hidden" id="impCount" name="impCount" value=""/>
                    <input type="hidden" id="bImpCount" name="bImpCount" value=""/>
                </form>
            </div>
        </div>

        <div class="banner__footer">
            <div class="footer">
                <div class="footer__item">
                    <span>Spendenkonto Wikimedia Foerdergesellschaft</span>
                </div>
                <div class="footer__item">
                    <span>BIC</span>
                    <span class="footer__importantinfo">BFSWDE33BER</span>
                </div>
                <div class="footer__item">
                    <span>IBAN</span>
                    <span class="footer__importantinfo">DE33&nbsp;1002&nbsp;0500&nbsp;0001&nbsp;1947&nbsp;00</span>
                </div>

                <div class="footer__item footer__item--rightflex">
                    <a id="application-of-funds-link" class="application-of-funds-link"
                       href="https://spenden.wikimedia.de/page/Transparenz?skin=cat17"
                       data-href="#info-application-of-funds">Wohin geht meine Spende?</a>
                </div>
            </div>
        </div>

        <div class="close">
            <a href="#" class="close__link">
                <img src="//upload.wikimedia.org/wikipedia/commons/c/cb/Close_x_-_black.png" alt="schließen"
                     title="schließen">
            </a>
        </div>
    </div>

    <div class="click-tracking">
        <img class="click-tracking__pixel" src=""/>
    </div>
</div>

{{> application_of_funds }}
