<p class="text__headline">
    <span class="text__headline--bold">Liebe <span class="text__paragraph_screen_m">Leserinnen und </span>Leser,</span>
    <span class="text__paragraph_screen_m">bitte verzeihen Sie die Störung. {{ capitalizeFirstLetter weekdayPrepPhrase }} {{ currentDayName }} sind Sie in Deutschland gefragt:</span>
</p>

<p class="text__paragraph">
    {{ campaignDaySentence }} Wikipedia wird durch Spenden <span class="text__paragraph_screen_m">von durchschnittlich 20 €</span> finanziert.

    <span class="text__paragraph--bold">
		Wenn alle, die das jetzt lesen, einen kleinen Beitrag leisten, ist unsere Spendenkampagne in einer Stunde vorüber.
	</span>

    <span class="text__paragraph_screen_m">Schon der Preis einer Tasse Kaffee würde genügen.</span>

    Millionen <span class="text__paragraph_screen_xl">von</span> Menschen nutzen Wikipedia, aber nur ein Bruchteil spendet.

    <span class="text__paragraph_screen_l">Als ich mich entschloss, Wikipedia zu einem nicht-kommerziellen Projekt zu machen, wurde mir gesagt, ich würde dies bereuen.</span>

    <span class="text__paragraph_screen_xl">Heute ist sie die einzige Top-10-Website, die gemeinnützig betrieben wird.</span>

    <span class="text__paragraph_screen_m">Sicher könnten wir mit Werbung eine Menge Geld verdienen. Aber dann wäre Wikipedia komplett anders. Wir könnten ihr nicht vertrauen.</span>

    <span class="text__paragraph_screen_s">Es ist leicht, diese Nachricht zu ignorieren und die meisten werden das wohl tun.</span>

    Wenn Sie Wikipedia nützlich finden, nehmen Sie sich {{ weekdayPrepPhrase }} {{ currentDayName }}
    bitte eine Minute Zeit und geben Wikipedia mit Ihrer Spende etwas zurück.

    Vielen&nbsp;Dank<span class="text__paragraph_screen_l_max">!</span><span class="text__paragraph_screen_xl">&nbsp;‒&nbsp;<span class="text__paragraph--sans-serif">Jimmy&nbsp;Wales, Wikipedia-Gründer</span>
	</span>
</p>
