<div id="WMDE_Banner">
	<div class="banner">
		<div class="infobox">
			<div class="infobox__text">
				{{> banner_text_var }}
			</div>
			<div class="infobox__footer">
				<div class="footer">
					<div class="footer__item">
						<span class="footer__info">Spendenkonto</span>
						<span>Wikimedia Foerdergesellschaft</span>
					</div>
					<div class="footer__item">
						<span>BIC</span>
						<span class="footer__importantinfo">BFSWDE33BER</span>
					</div>
					<div class="footer__item">
						<span>IBAN</span>
						<span class="footer__importantinfo">DE33&nbsp;1002&nbsp;0500&nbsp;0001&nbsp;1947&nbsp;00</span>
					</div>
				</div>
			</div>
		</div>

		{{{ progressTree }}}

		<div class="presents">
			<div class="presents__firstrow">
				<div class="present present__medium">
					<div class="present_image"></div>
					<div class="present_button">
						<span class="reduce__amount"></span>
						<span class="present__amount">20 €</span>
						<input type="number" name="medium_step_amount" step="20" value="0" >
						<span class="increase__amount"></span>
					</div>
				</div>
			</div>

			<div class="presents__secoundrow">
				<div class="present present__small">
					<div class="present_image"></div>
					<div class="present_button">
						<span class="reduce__amount"></span>
						<label class="present__amount">5 €</label>
						<input type="number" name="small_step_amount" step="5" value="0" >
						<span class="increase__amount"></span>
					</div>
				</div>

				<div class="present present__large">
					<div class="present_image"></div>
					<div class="present_button">
						<span class="reduce__amount"></span>
						<span class="present__amount">100 €</span>
						<input type="number" name="large_step_amount" step="100" value="0" >
						<span class="increase__amount"></span>
					</div>
				</div>
			</div>
		</div>

		<div class="form">
			<form id="WMDE_Banner-form" method="post" name="donationForm"
			      action="https://spenden.wikimedia.de/donation/new?piwik_campaign={{ CampaignName }}&amp;piwik_kwd={{ BannerName }}&pmt=0">

				<div class="form__text form__text-top">
					<p>Ja, ich spende ...</p>
				</div>

				<div id="WMDE_Banner-amounts" class="WMDE-Banner-amounts select-group">
					<div id="WMDE_Banner-amounts-error-text" class='select-group__errormessage'>{{amount-empty-message}}</div>
					<label id="amount_label_1" class="select-group__option select-group__option--thirdwidth">
						<input type="radio" name="betrag_auswahl" id="field-amount_total_1" class="select-group__input" value="5">
						<span class="select-group__state">5 €</span>
					</label>

					<label id="amount_label_2" class="select-group__option select-group__option--thirdwidth">
						<input type="radio" name="betrag_auswahl" id="field-amount_total_2" class="select-group__input" value="10">
						<span class="select-group__state select-group__state--biggertext">10 €</span>
					</label>

					<label id="amount_label_3" class="select-group__option select-group__option--thirdwidth">
						<input type="radio" name="betrag_auswahl" id="field-amount_total_3" class="select-group__input" value="20">
						<span class="select-group__state select-group__state--biggertext">20 €</span>
					</label>

					<label id="amount_label_4" class="select-group__option select-group__option--thirdwidth">
						<input type="radio" name="betrag_auswahl" id="field-amount_total_4" class="select-group__input" value="50">
						<span class="select-group__state select-group__state--biggertext">50 €</span>
					</label>

					<label id="amount_label_5" class="select-group__option select-group__option--thirdwidth">
						<input type="radio" name="betrag_auswahl" id="field-amount_total_5" class="select-group__input" value="100">
						<span class="select-group__state select-group__state--biggertext">75 €</span>
					</label>

					<label class="select-group__option select-group__option--fullwidth select-group__custom--big">
						<input type="text" name="amountGiven" id="amount-other-input" size="3"
						       autocomplete="off" value="" placeholder="Betrag eingeben" class="select-group__custom-input">
					</label>
				</div>

				<div id="WMDE_Banner-frequency" class="WMDE-Banner-frequency select-group">
					<div id="WMDE_Banner-frequency-error-text" class="select-group__errormessage">{{no-interval-message}}</div>
					<label class="select-group__option select-group__option--thirdwidth">
						<input type="radio" id="interval_onetime" name="interval" value="0" class="select-group__input">
						<span class="select-group__state">einmalig</span>
					</label>
					<label class="select-group__option select-group__option--thirdwidth donation-frequency-monthly">
						<input type="radio" id="interval1" name="interval" value="1" class="select-group__input">
						<span class="select-group__state">monatlich</span>
					</label>
					<label class="select-group__option select-group__option--thirdwidth donation-frequency-yearly">
						<input type="radio" id="interval12" name="interval" value="12" class="select-group__input">
						<span class="select-group__state">jährlich</span>
					</label>
				</div>

				<div class="form__text form__text-middle">
					<p>per</p>
				</div>

				<div id="WMDE_Banner-payment-type" class="WMDE-Banner-payment-type select-group">
					<div id="WMDE_Banner-payment-type-error-text" class='select-group__errormessage'>{{ no-payment-type-message }}</div>
					<label class="select-group__option select-group__option--halfwidth">
						<input type="radio" name="zahlweise" class="select-group__input" value="BEZ">
						<span class="select-group__state">Lastschrift</span>
					</label>

					<label class="select-group__option select-group__option--halfwidth">
						<input type="radio" name="zahlweise" class="select-group__input" value="UEB">
						<span class="select-group__state">Überweisung</span>
					</label>

					<label class="select-group__option select-group__option--halfwidth">
						<input type="radio" name="zahlweise" class="select-group__input" value="MCP">
						<span class="select-group__state">Kreditkarte</span>
					</label>

					<label class="select-group__option select-group__option--halfwidth">
						<input type="radio" name="zahlweise" class="select-group__input" value="PPL">
						<span class="select-group__state">PayPal</span>
					</label>
				</div>

				<div class="WMDE-Banner-submit button-group">
					<button class="button-group__button button-group__button--fullwidth">
						<span class="button-group__label">Spende abschließen</span>
					</button>
				</div>

				<input type="hidden" id="periode" name="periode" value="0"/>
				<input type="hidden" id="intervalType" name="intervalType" value="0"/>
				<input type="hidden" id="impCount" name="impCount" value=""/>
				<input type="hidden" id="bImpCount" name="bImpCount" value=""/>
			</form>

			<div class="form__footer">
				<div class="footer">
					<div class="footer__item footer__item--rightflex">
						<a id="application-of-funds-link" class="application-of-funds-link" href="https://spenden.wikimedia.de/page/Transparenz" data-href="#info-application-of-funds">Wohin geht meine Spende?</a>
					</div>
				</div>
			</div>
		</div>

		<div class="close">
			<a href="#" class="close__link">
				<img src="//upload.wikimedia.org/wikipedia/commons/c/cb/Close_x_-_black.png" alt="schließen" title="schließen">
			</a>
		</div>
	</div>

	<div class="click-tracking">
		<img class="click-tracking__pixel" src="" />
	</div>
</div>

{{> application_of_funds }}
