<p class="text__headline text__headline--bold text__headline--italic">
	Liebe Leserinnen und Leser,	bitte verzeihen Sie die Störung. {{ capitalizeFirstLetter weekdayPrepPhrase }}
	{{ currentDayName }} sind Sie in Deutschland gefragt:
</p>

<p class="text__paragraph text__paragraph--bold">
	{{ campaignDaySentence }} Wikipedia wird durch Spenden von
	durchschnittlich 20 € finanziert.

	<span class="text__highlight">Wenn alle, die das jetzt lesen, einen kleinen Beitrag leisten, ist unsere Spendenkampagne
		in einer Stunde vorüber.</span>

	Schon der Preis einer Tasse Kaffee würde genügen. Über {{ amountBannerImpressionsInMillion }} Millionen Mal wird unser
	Spendenaufruf täglich angezeigt, aber nur {{ numberOfDonors }} Menschen haben bisher gespendet.
	Als ich mich entschloss, Wikipedia zu einem nicht-kommerziellen Projekt zu machen, wurde mir gesagt, ich würde dies
	bereuen. Heute ist sie die einzige Top-10-Website, die gemeinnützig betrieben wird. Sicher könnten wir mit Werbung eine
	Menge Geld verdienen. Aber dann wäre Wikipedia komplett anders. Wir könnten ihr nicht vertrauen. Es ist leicht, diese
	Nachricht zu ignorieren und die meisten werden das wohl tun. Wenn Sie Wikipedia nützlich finden, nehmen Sie sich
	{{ weekdayPrepPhrase }} {{ currentDayName }} bitte eine Minute Zeit und geben Wikipedia mit Ihrer Spende etwas zurück.
	Vielen Dank ‒ <span class="text__paragraph--italic">Jimmy Wales, Wikipedia-Gründer</span>
</p>
