<div id="WMDE_Banner">
    <div class="banner">
        <div class="banner__content">
            <div class="infobox">
                <div class="infobox__text">
                    {{> banner_text_var }}
                </div>
                {{{ progressBar }}}
            </div>

            <div class="form">
                <form id="WMDE_Banner-form" method="post" name="donationForm"
                      action="https://spenden.wikimedia.de/donation/new?piwik_campaign={{ CampaignName }}&piwik_kwd={{ BannerName }}&skin=0">

                   <div id="WMDE_Banner-submit" class="WMDE-Banner-submit button-group">
                        <button class="button-group__button">
                            <span class="button-group__label">Weiter, um Spende abzuschließen</span>
                        </button>
                    </div>
                    <input type="hidden" id="impCount" name="impCount" value=""/>
                    <input type="hidden" id="bImpCount" name="bImpCount" value=""/>
                </form>
            </div>
        </div>

        <div class="banner__footer">
            <div class="footer">
                <div class="footer__item footer__item--leftflex">
                    <div class="footer__item">
                        <span>Spendenkonto Wikimedia Foerdergesellschaft</span>
                    </div>
                    <div class="footer__item">
                        <span>BIC</span>
                        <span class="footer__importantinfo">BFSWDE33BER</span>
                    </div>
                    <div class="footer__item">
                        <span>IBAN</span>
                        <span class="footer__importantinfo"><span class="iban-block"><span>DE33</span><span>1002</span><span>0500</span><span>0001</span><span>1947</span><span>00</span></span></span>
                    </div>
                </div>
                <div class="footer__item footer__item--rightflex">
                    <a id="application-of-funds-link" class="application-of-funds-link" target="_blank"
                       href="https://spenden.wikimedia.de/use-of-funds?piwik_campaign={{ CampaignName }}&piwik_kwd={{ BannerName }}_link&skin=0"
                       data-href="#info-application-of-funds">Wohin geht meine Spende?
                    </a>
                </div>
            </div>
        </div>

        <div class="close">
            <a href="#" class="close__link">
                &#x2715;
            </a>
        </div>
    </div>
</div>

{{> application_of_funds }}
