<p class="text__headline">
    <span class="text__headline--bold">Liebe Leserinnen und Leser,</span>
    bitte verzeihen Sie die Störung.  Es ist ein bisschen unangenehm, daher kommen wir gleich zur Sache.
    {{ capitalizeFirstLetter weekdayPrepPhrase }} {{ currentDayName }} sind Sie in Deutschland gefragt<span class="optional-text text-m">, um Wikipedias Unabhängigkeit zu sichern</span>:
</p>
<p class="text__paragraph">
    {{ campaignDaySentence }}
    Wikipedia wird durch Spenden von durchschnittlich 23,83 € finanziert, aber 99 % der Leserinnen und Leser spenden nicht.

    <span class="text__paragraph--bold">
        Wenn alle, die das jetzt lesen, einen kleinen Beitrag leisten, wäre unser Spendenziel bereits am heutigen {{ currentDayName }} erreicht.
    </span>

    Schon der Preis einer Tasse Kaffee würde genügen. Über {{ amountBannerImpressionsInMillion }} Millionen Mal wird unser Spendenaufruf täglich angezeigt,
    aber nur {{ numberOfDonors }} Menschen haben bisher gespendet.
    <span class="optional-text text-m">
        Wenn Wikipedia eine kommerzielle Seite sein würde, wäre das ein riesiger Verlust für die Welt.
    </span>

    Sicher könnten wir mit Werbung eine Menge Geld verdienen. Aber dann wäre Wikipedia komplett anders. Wir könnten ihr nicht vertrauen.

    <span class="optional-text text-xl">
        Das Herzstück von Wikipedia ist die Gemeinschaft von Menschen, die uns unbegrenzten Zugang zu verlässlichen und neutralen Informationen geben.
    </span>
    Es ist leicht, diese Nachricht zu ignorieren und die meisten werden das wohl tun.
    Wenn Sie Wikipedia nützlich finden, nehmen Sie sich {{ weekdayPrepPhrase }} {{ currentDayName }}
    bitte eine Minute Zeit und geben Wikipedia mit Ihrer Spende etwas
    zurück<span class="optional-text text-l">, damit Wikipedia weiter wachsen kann</span>.

    <span class="text__paragraph--italic">Vielen Dank!</span>
    <span style="visibility: hidden">Wikipedia ist ein Ort des Lernens – Werbung hat darin keinen Platz.</span>
</p>
