<p class="text__headline">
	<span class="text__headline--italic">Liebe Leserinnen und Leser,</span>
	bitte verzeihen Sie die Störung. {{ capitalizeFirstLetter weekdayPrepPhrase }} {{ currentDayName }} sind Sie in Deutschland gefragt:
</p>

<p class="text__paragraph">
	{{ campaignDaySentence }} Wikipedia wird durch Spenden von durchschnittlich 21,48 € finanziert.
	<span class="text__highlight">
		Wenn alle, die das jetzt lesen, einen kleinen Beitrag leisten, ist unsere Spendenkampagne in einer Stunde vorüber.
	</span>
	Schon der Preis einer Tasse Kaffee würde genügen.
	Über {{ amountBannerImpressionsInMillion }} Millionen Mal wird unser Spendenaufruf täglich angezeigt, aber nur {{ numberOfDonors }} Menschen haben bisher gespendet.
	Sicher könnten wir mit Werbung eine Menge Geld verdienen.
	Aber dann wäre Wikipedia komplett anders. Wir könnten ihr nicht vertrauen.
	Es ist leicht, diese Nachricht zu ignorieren und die meisten werden das wohl tun.
	Wenn Sie Wikipedia nützlich finden, nehmen Sie sich
	{{ weekdayPrepPhrase }} {{ currentDayName }} bitte eine Minute Zeit und geben Wikipedia mit Ihrer Spende etwas zurück.
	<span class="text__paragraph--italic">Vielen Dank!</span>
</p>
