<div id="WMDE_Banner">
	<div class="banner">
		<div class="infobox">
			<div class="infobox__text">
				{{{ bannerText }}}
			</div>
			{{{ progressBar }}}
			<div class="infobox__footer">
				<div class="footer">
					<div class="footer__item">
						<span>Spendenkonto</span>
						<span class="footer__importantinfo">Wikimedia Foerdergesellschaft</span>
					</div>
					<div class="footer__item">
						<span>BIC</span>
						<span class="footer__importantinfo">BFSWDE33BER</span>
					</div>
					<div class="footer__item">
						<span>IBAN</span>
						<span class="footer__importantinfo">DE33&nbsp;1002&nbsp;0500&nbsp;0001&nbsp;1947&nbsp;00</span>
					</div>

					<div class="footer__item footer__item--rightflex">
						<a id="application-of-funds-link" class="application-of-funds-link" href="https://spenden.wikimedia.de/page/Transparenz?skin=10h16" data-href="#info-application-of-funds">Wohin geht meine Spende?</a>
					</div>
				</div>
			</div>
		</div>

		<div class="form">
			<form id="WMDE_Banner-form" method="post" name="donationForm"
			      action="https://spenden.wikimedia.de/donation/new?piwik_campaign={{ CampaignName }}&amp;piwik_kwd={{ BannerName }}&pmt=0&skin=10h16">
				<div id="WMDE_Banner-frequency" class="WMDE-Banner-frequency select-group">
					<span id="WMDE_Banner-frequency-error-text" class="select-group__errormessage">{{no-interval-message}}</span>
					<label class="select-group__option select-group__option--fullwidth">
						<input type="radio" id="interval_onetime" name="interval" value="0" class="select-group__input">
						<span class="select-group__state">einmalig</span>
					</label>
					<label class="select-group__option select-group__option--halfwidth  donation-frequency-monthly">
						<input type="radio" id="interval1" name="interval" value="1" class="select-group__input">
						<span class="select-group__state">monatlich</span>
					</label>
					<label class="select-group__option select-group__option--halfwidth donation-frequency-quarterly">
						<input type="radio" id="interval3" name="interval" value="3" class="select-group__input">
						<span class="select-group__state">vierteljährlich</span>
					</label>

					<label class="select-group__option select-group__option--halfwidth donation-frequency-biannual">
						<input type="radio" id="interval6" name="interval" value="6" class="select-group__input">
						<span class="select-group__state">halbjährlich</span>
					</label>
					<label class="select-group__option select-group__option--halfwidth donation-frequency-yearly">
						<input type="radio" id="interval12" name="interval" value="12" class="select-group__input">
						<span class="select-group__state">jährlich</span>
					</label>
				</div>

				<div id="WMDE_Banner-amounts" class="WMDE-Banner-amounts select-group">
					<span id="WMDE_Banner-amounts-error-text" class='select-group__errormessage'>{{amount-empty-message}}</span>
					<label id="amount_label_1" class="select-group__option select-group__option--quarterwidth">
						<input type="radio" name="betrag_auswahl" id="field-amount_total_1" class="select-group__input" value="5">
						<span class="select-group__state">5 €</span>
					</label>

					<label id="amount_label_2" class="select-group__option select-group__option--quarterwidth">
						<input type="radio" name="betrag_auswahl" id="field-amount_total_2" class="select-group__input" value="15">
						<span class="select-group__state select-group__state--biggertext">15 €</span>
					</label>

					<label id="amount_label_3" class="select-group__option select-group__option--quarterwidth">
						<input type="radio" name="betrag_auswahl" id="field-amount_total_3" class="select-group__input" value="25">
						<span class="select-group__state select-group__state--biggertext">25 €</span>
					</label>

					<label id="amount_label_4" class="select-group__option select-group__option--quarterwidth">
						<input type="radio" name="betrag_auswahl" id="field-amount_total_4" class="select-group__input" value="50">
						<span class="select-group__state select-group__state--biggertext">50 €</span>
					</label>

					<label id="amount_label_5" class="select-group__option select-group__option--quarterwidth">
						<input type="radio" name="betrag_auswahl" id="field-amount_total_5" class="select-group__input" value="75">
						<span class="select-group__state select-group__state--biggertext">75 €</span>
					</label>

					<label id="amount_label_6" class="select-group__option select-group__option--quarterwidth">
						<input type="radio" name="betrag_auswahl" id="field-amount_total_6" class="select-group__input" value="100">
						<span class="select-group__state select-group__state--biggertext">100 €</span>
					</label>

					<label class="select-group__option select-group__option--halfwidth">
						<input type="text" name="amountGiven" id="amount-other-input" size="3"
						       autocomplete="off" value="" placeholder="Wunschbetrag" class="select-group__custom-input">
						<span class="select-group__state select-group__state--biggertext">€</span>
					</label>
				</div>

				<div id="WMDE_Banner-payment" class="WMDE-Banner-payment button-group">
					<button class="button-group__button button-group__button--halfwidth" data-payment-type="BEZ">
						<span class="button-group__label">Lastschrift</span>
					</button>

					<button class="button-group__button button-group__button--halfwidth" data-payment-type="UEB">
						<span class="button-group__label">Überweisung</span>
					</button>

					<button class="button-group__button button-group__button--halfwidth" data-payment-type="MCP">
						<span class="button-group__label">Kreditkarte</span>
					</button>

					<button class="button-group__button button-group__button--halfwidth" data-payment-type="PPL">
						<span class="button-group__label">PayPal</span>
					</button>
				</div>

				<input type="hidden" id="periode" name="periode" value="0"/>
				<input type="hidden" id="intervalType" name="intervalType" value="0"/>
				<input type="hidden" id="impCount" name="impCount" value=""/>
				<input type="hidden" id="bImpCount" name="bImpCount" value=""/>
				<input type="hidden" id="zahlweise" name="zahlweise" value=""/>
			</form>
		</div>

		<div class="close">
            <span class="close__link">
                Schließen
                <span class="close__icon"></span>
            </span>
		</div>
	</div>

	<div class="click-tracking">
		<img class="click-tracking__pixel" src="" />
	</div>
</div>

{{> application_of_funds }}
